/* ======================================================
Index of Pages SCSS Code

0. Extends, Variables & Mixins
1. Hero Service Section 
2. Booking Inquiry Section 
3. Marketing Inquiry Section 
4. About Comapny Section 
5. World of Kat Section
6. Discover Kat Section 

======================================================== */
/********************************************************
0. Chaining Extends | Import Variables & Mixins   
/********************************************************/
/********************************************************
Basic Color Variables
/********************************************************/
/********************************************************
Theme Color Variables
/********************************************************/
/********************************************************
Social Media
/********************************************************/
/********************************************************
Font family & Size Variables
/********************************************************/
/********************************************************
Width Variables
/********************************************************/
/********************************************************
Text Align Variables
/********************************************************/
/********************************************************
Path Specification Variables
/********************************************************/
/********************************************************
Transition Mixin   
/********************************************************/
/********************************************************
Padding Mixin  
/********************************************************/
/********************************************************
Margin Mixin  
/********************************************************/
extend-service, .hero-block .services ul li a:before, .hero-block .services ul li a:after {
  content: " ";
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  border-top: 2px solid #b82228;
  width: 35px;
  margin: 0 auto; }

/********************************************************
1. Hero Service Section 
/********************************************************/
.hero-block {
  background: #b82228;
  text-align: center;
  width: 420px;
  float: left;
  position: absolute;
  margin-left: 50px;
  top: 10px;
  z-index: 1; }
  .hero-block .logo img {
    padding: 0 20px 15px 20px;
    background: #ffffff; }
  .hero-block .services {
    margin-top: 40px;
    padding-bottom: 25px;
    background: url(../images/service-bg.png) center 0px no-repeat; }
    .hero-block .services h2 {
      font-size: 30px;
      text-transform: uppercase;
      font-weight: 400;
      color: #ffffff;
      padding: 20px 0 15px 0; }
    .hero-block .services ul li a {
      padding: 12px 30px;
      position: relative;
      display: inline-block;
      border: 1px solid #ffffff;
      margin-bottom: 15px;
      min-width: 290px;
      color: #ffffff;
      font-size: 18px;
      transition: all 0.5s ease 0s; }
      .hero-block .services ul li a:hover {
        background: #ffffff;
        color: #b82228;
        text-decoration: none; }

.container {
  margin-top: 20px; }

.m-0 {
  margin-top: 0px; }

.services ul li a:active, .services ul li a:focus {
  background: #ffffff;
  color: #b82228;
  text-decoration: none; }

.hero-block .services ul li a:hover:before, .hero-block .services ul li a:hover:after {
  border-top: none; }
.hero-block .services ul li a:before {
  top: -2px; }
.hero-block .services ul li a:after {
  bottom: -2px; }

/********************************************************
2. Booking Inquiry Section 
/********************************************************/
.inquiry-container .inquiry-text {
  margin-top: 40px;
  float: left;
  margin-left: 50px; }
  .inquiry-container .inquiry-text p {
    color: #1891c3;
    font-size: 28px; }
    .inquiry-container .inquiry-text p span {
      color: #1891c3;
      font-size: 35px;
      vertical-align: middle;
      padding-left: 10px; }
  .inquiry-container .inquiry-text a {
    color: #1891c3;
    text-decoration: underline;
    font-size: 20px;
    line-height: 1.7; }
    .inquiry-container .inquiry-text a:hover {
      color: #1891c3;
      text-decoration: none; }

/********************************************************
3. Marketing Inquiry Section 
/********************************************************/
.secation-a {
  padding: 50px 0;
  width: 100%;
  position: relative;
  margin-top: 20px;
  background: url(../images/marketing.jpg); }
  .secation-a .request-section h2 {
    font-size: 30px;
    color: #ffffff;
    line-height: 35px; }
  .secation-a .requestlink-bg {
    background: #1a6f92;
    width: 100%;
    margin-top: -17px;
    z-index: 0; }
    .secation-a .requestlink-bg a {
      color: #ffffff;
      text-decoration: none;
      margin-left: 25px;
      font-size: 30px;
      line-height: 2.2;
      transition: all 1s ease 0s; }
    .secation-a .requestlink-bg a:hover {
      margin-left: 40px;
      transition: all 1s ease 0s; }

/********************************************************
4. About Comapny Section 
/********************************************************/
.secation-b {
  padding: 70px 0 90px 0;
  background: #ffffff;
  width: 100%;
  position: relative; }
  .secation-b .about-content h1 {
    font-size: 48px;
    color: #a8171d;
    font-weight: 400;
    padding-bottom: 40px; }
  .secation-b .about-content h3 {
    font-size: 26px;
    color: #1e8cc1;
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: 10px; }
  .secation-b .about-content .about-points h2 {
    font-size: 27px;
    color: #a8171d;
    font-weight: 300;
    padding-bottom: 10px;
    text-transform: uppercase; }
  .secation-b .about-content .about-points li {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    padding-bottom: 10px;
    color: #a8171d;
    list-style-type: square;
    margin-left: 20px; }
  .secation-b .about-images {
    position: relative; }
    .secation-b .about-images .img-a {
      float: right;
      text-align: right; }
    .secation-b .about-images .img-b {
      float: right;
      position: absolute;
      right: 0;
      top: 250px;
      text-align: right; }
    .secation-b .about-images .img-c {
      float: right;
      position: absolute;
      right: 118px;
      top: 250px;
      z-index: 11;
      text-align: right; }
    .secation-b .about-images .img-e {
      float: right;
      position: absolute;
      right: 338px;
      top: 0; }
    .secation-b .about-images .img-d {
      float: left;
      position: absolute;
      left: 0;
      top: 75px;
      z-index: 1; }
    .secation-b .about-images .img-f {
      float: left;
      position: absolute;
      left: 35px;
      top: 390px;
      z-index: 1; }
  .secation-b .about-more {
    color: #2e7eae;
    font-size: 14px;
    padding: 5px 40px;
    border: 1px solid; }
  .secation-b .about-points ul {
    padding-bottom: 10px; }
  .secation-b .about-more:hover {
    border: 1px solid #2a6c94;
    color: #2a6c94;
    text-decoration: none; }

/********************************************************
5. World of Kat Section 
/********************************************************/
.secation-c {
  padding: 70px 0 90px 0;
  float: left;
  width: 100%;
  position: relative;
  z-index: 0;
  background: url(../images/kat-world/kat-bg.jpg);
  background-position: center; }
  .secation-c:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    z-index: -1;
    opacity: .9;
    background: #B41A1C;
    background: -moz-linear-gradient(-45deg, #B41A1C 0%, #087eaf 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #B41A1C), color-stop(100%, #087eaf));
    background: -webkit-linear-gradient(-45deg, #B41A1C 0%, #087eaf 100%);
    background: -o-linear-gradient(-45deg, #B41A1C 0%, #087eaf 100%);
    background: -ms-linear-gradient(-45deg, #B41A1C 0%, #087eaf 100%);
    background: -webkit-linear-gradient(315deg, #B41A1C 0%, #087eaf 100%);
    background: -o-linear-gradient(315deg, #B41A1C 0%, #087eaf 100%);
    background: linear-gradient(135deg, #B41A1C 0%, #087eaf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B41A1C',endColorstr='#087eaf',GradientType=1 ); }
  .secation-c h1 {
    text-align: center;
    color: #fff;
    font-weight: 300;
    padding-bottom: 30px;
    margin: 0;
    font-size: 30px; }
  .secation-c .content {
    padding: 10px;
    position: relative; }

.tabs {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: relative;
  background: #fff;
  padding: 50px;
  padding-bottom: 60px;
  width: 100%;
  height: auto;
  min-height: 350px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 0;
  min-width: 240px;
  float: left; }
  .tabs input[name="tab-control"] {
    display: none; }
  .tabs .content section h2 {
    font-weight: 500;
    font-size: 16px;
    color: #B41A1C; }
  .tabs ul {
    list-style-type: none;
    padding-left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 10px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .tabs ul li {
      box-sizing: border-box;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      width: 25%;
      padding: 0 10px;
      text-align: center; }
      .tabs ul li label {
        font-weight: 500;
        font-size: 16px;
        color: #B41A1C;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        color: #B41A1C;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        cursor: pointer;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        white-space: nowrap;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        position: relative; }
        .tabs ul li label br {
          display: none; }
        .tabs ul li label i {
          fill: #929daf;
          height: 1.2em;
          vertical-align: bottom;
          margin-right: .2em;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out; }
        .tabs ul li label:hover, .tabs ul li label:focus, .tabs ul li label:active {
          outline: 0;
          color: #087eaf; }
        .tabs ul li label:hover span:before, .tabs ul li label:focus span:before, .tabs ul li label:active span:before {
          color: #087eaf; }
        .tabs ul li label:hover i, .tabs ul li label:focus i, .tabs ul li label:active i {
          fill: #087eaf; }
  .tabs .slider {
    position: relative;
    width: 20%;
    -webkit-transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
    transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07); }
    .tabs .slider .indicator {
      position: relative;
      width: 50px;
      max-width: 100%;
      margin: 0 auto;
      height: 4px;
      background: #087eaf;
      border-radius: 1px; }
  .tabs .content {
    margin-top: 30px; }
    .tabs .content section {
      display: none;
      line-height: 1.4; }
      .tabs .content section h2 {
        color: #087eaf;
        display: none; }
        .tabs .content section h2::after {
          content: "";
          position: relative;
          display: block;
          width: 30px;
          height: 3px;
          background: #B41A1C;
          margin-top: 5px;
          left: 1px; }
  .tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
    cursor: default;
    color: #087eaf; }
    .tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label span:before {
      color: #087eaf; }
    .tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label i {
      fill: #087eaf; }
  .tabs input[name="tab-control"]:nth-of-type(1):checked ~ .slider {
    -webkit-transform: translateX(0%);
    transform: translateX(0%); }
  .tabs input[name="tab-control"]:nth-of-type(1):checked ~ .content > section:nth-child(1) {
    display: block; }
  .tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
    cursor: default;
    color: #087eaf; }
    .tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label span:before {
      cursor: default;
      color: #087eaf; }
    .tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label i {
      fill: #087eaf; }
  .tabs input[name="tab-control"]:nth-of-type(2):checked ~ .slider {
    -webkit-transform: translateX(100%);
    transform: translateX(100%); }
  .tabs input[name="tab-control"]:nth-of-type(2):checked ~ .content > section:nth-child(2) {
    display: block; }
  .tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
    cursor: default;
    color: #087eaf; }
    .tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label span:before {
      cursor: default;
      color: #087eaf; }
    .tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label i {
      fill: #087eaf; }
  .tabs input[name="tab-control"]:nth-of-type(3):checked ~ .slider {
    -webkit-transform: translateX(200%);
    transform: translateX(200%); }
  .tabs input[name="tab-control"]:nth-of-type(3):checked ~ .content > section:nth-child(3) {
    display: block; }
  .tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
    cursor: default;
    color: #087eaf; }
    .tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label span:before {
      cursor: default;
      color: #087eaf; }
    .tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label i {
      fill: #087eaf; }
  .tabs input[name="tab-control"]:nth-of-type(4):checked ~ .slider {
    -webkit-transform: translateX(300%);
    transform: translateX(300%); }
  .tabs input[name="tab-control"]:nth-of-type(4):checked ~ .content > section:nth-child(4) {
    display: block; }
  .tabs input[name="tab-control"]:nth-of-type(5):checked ~ ul > li:nth-child(5) > label {
    cursor: default;
    color: #087eaf; }
    .tabs input[name="tab-control"]:nth-of-type(5):checked ~ ul > li:nth-child(5) > label span:before {
      cursor: default;
      color: #087eaf; }
    .tabs input[name="tab-control"]:nth-of-type(5):checked ~ ul > li:nth-child(5) > label i {
      fill: #087eaf; }
  .tabs input[name="tab-control"]:nth-of-type(5):checked ~ .slider {
    -webkit-transform: translateX(400%);
    transform: translateX(400%); }
  .tabs input[name="tab-control"]:nth-of-type(5):checked ~ .content > section:nth-child(5) {
    display: block; }

@-webkit-keyframes content {
  from {
    opacity: 0;
    -webkit-transform: translateY(5%);
    transform: translateY(5%); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%); } }
@keyframes content {
  from {
    opacity: 0;
    -webkit-transform: translateY(5%);
    transform: translateY(5%); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%); } }
.content p {
  text-align: left;
  font-size: 16px;
  color: #131010;
  font-weight: 100;
  line-height: 25px; }
.content h3 {
  font-size: 21px;
  padding-bottom: 10px;
  padding-top: 20px;
  text-align: left;
  color: #087eaf; }

.about-more {
  color: #2e7eae;
  font-size: 14px;
  padding: 5px 40px;
  border: 1px solid;
  float: left;
  margin-top: 20px; }
  .about-more:hover {
    border: 1px solid #2a6c94;
    color: #2a6c94;
    text-decoration: none; }

.content section {
  float: left;
  width: 70%;
  padding-bottom: 10px;
  border: 2px solid #087eaf;
  padding: 20px 20px 30px 90px;
  min-height: 290px; }

section.right {
  float: right; }

img.w-tab-img {
  position: absolute;
  left: 0;
  margin-top: 2px;
  width: 400px;
  border-right: 10px solid #087eaf;
  -webkit-animation-name: content;
  animation-name: content;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

.content h3, .content p {
  -webkit-animation-name: content;
  animation-name: content;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

.secation-c .about-more {
  min-width: 225px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px;
  transition: all 0.7s ease 0s; }
  .secation-c .about-more:hover {
    background: #2e7eae;
    color: #fff;
    transition: all 0.7s ease 0s; }

/********************************************************
6. Discover Kat Section 
/********************************************************/
.secation-d {
  float: left;
  width: 100%;
  padding: 90px 0;
  position: relative; }

.discover {
  float: left;
  width: 100%;
  background: #f6f6f6;
  overflow: hidden;
  transition: .3s;
  padding: 30px 20px 35px 200px;
  height: 290px;
  margin-bottom: 15px; }

.discover .KatBanImg {
  top: 0;
  background: url(../images/discover/img-1.jpg) no-repeat;
  position: absolute;
  left: 0;
  width: 200px;
  height: 290px;
  overflow: hidden;
  z-index: 0; }

.discover .KatBanImg-b {
  background: url(../images/discover/img-2.png) no-repeat; }

.discover .KatBanImg-c {
  background: url(../images/discover/img-3.png) no-repeat; }

.discover .KatBanImg-d {
  background: url(../images/discover/img-4.png) no-repeat; }

.discover .KatBanImg-e {
  background: url(../images/discover/img-3.png) no-repeat; }

.discover .KatBanImg-f {
  background: url(../images/discover/img-3.png) no-repeat; }

.KatDesc {
  float: left;
  width: 100%;
  position: static;
  z-index: 1; }

.KatDesc h3 a {
  margin-bottom: 15px;
  font-size: 22px;
  color: #333;
  text-decoration: none;
  line-height: 30px;
  position: static; }

.KatDesc p {
  line-height: 25px;
  margin: 10px 0 5px; }

.KatDesc h3 a:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }

.discover:hover {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.05), 0 2px 10px 0 rgba(0, 0, 0, 0.1); }

.RelLink {
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  padding-right: 15px;
  color: #B41A1C;
  font-weight: 300; }

/*# sourceMappingURL=section.css.map */
